/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

@use "../../../scss/project-related/vars";

$mobile-breakpoint: vars.$mobile-breakpoint;

.wp-block-gutenberg-blocks-custom-2col-img-content-row {

    &:not(.wp-block) {
        margin-bottom: 2em;
        margin-top: 2em;

        .content-wrapper {
            //margin-left: calc((var(--half-width) - 50%) * -1);
            //margin-right: calc((var(--half-width) - 50%) * -1);
            padding: 1.5rem 0;
            width: unset;
        }

        .cols {
            //display: flex; // commented because of display: grid;
            //flex-direction: row; // commented because of display: grid;
            align-items: center;
            margin-right: auto;
            margin-left: auto;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);

            @media (max-width: $mobile-breakpoint ) {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 4fr 3fr;
            }

            .col {
                //flex-basis: 50%; // commented because of display: grid;
                //width: 50%; // commented because of display: grid;

                &.left-col {
                    order: 0;

                    @media (max-width: $mobile-breakpoint ) {
                        order: 1; // After content
                    }
                }

                &.right-col {
                    order: 1;
                }
            }
        }

        .image-col {
            height: 100%; // for display: grid;

            .image-container {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            figure {
                margin: 0;
                padding: 0;
            }

            figcaption {
                padding: 0;
                color: white;
                margin: 5px 0 0;
                text-align: center;
            }
        }

        .content-col {
            padding: 4rem 2rem;
        }
    }
}